In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/cameronpaschall/Desktop/Project 6 Alt'

In [3]:
# Import Covid data set
df_cov = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Covid_data.csv'), index_col = False)

In [4]:
df_cov.head(10)

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
5,AFG,Afghanistan,2020-01-05,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
6,AFG,Afghanistan,2020-01-06,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
7,AFG,Afghanistan,2020-01-07,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
8,AFG,Afghanistan,2020-01-08,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
9,AFG,Afghanistan,2020-01-09,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

## Dropping Columns

In [5]:
df_cov = df_cov.drop(columns = ['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'])

In [7]:
df_cov.columns

Index(['iso_code', 'location', 'date', 'total_cases', 'total_deaths',
       'stringency_index', 'population', 'gdp_per_capita',
       'human_development_index'],
      dtype='object')

## Renaming Columns

In [12]:
df_cov = df_cov.rename(columns={'iso_code':'Code', 'location':'Country', 'date':'Date', 'population':'Population', 'human_development_index':'Human_Dev_Index', 'total_cases':'Total_Cases', 'total_deaths':'Total_Deaths', 'stringency_index':'Stringency_Index','gdp_per_capita':'Gdp_Per_Capita'})

In [13]:
df_cov.columns

Index(['Code', 'Country', 'Date', 'Total_Cases', 'Total_Deaths',
       'Stringency_Index', 'Population', 'Gdp_Per_Capita', 'Human_Dev_Index'],
      dtype='object')

### Checking Data Types

In [14]:
df_cov.dtypes

Code                 object
Country              object
Date                 object
Total_Cases         float64
Total_Deaths        float64
Stringency_Index    float64
Population            int64
Gdp_Per_Capita      float64
Human_Dev_Index     float64
dtype: object

In [15]:
## Descriptive stats
df_cov.describe

<bound method NDFrame.describe of       Code      Country        Date  Total_Cases  Total_Deaths  \
0      AFG  Afghanistan  2019-12-31          0.0           0.0
1      AFG  Afghanistan  2020-01-01          0.0           0.0
2      AFG  Afghanistan  2020-01-02          0.0           0.0
3      AFG  Afghanistan  2020-01-03          0.0           0.0
4      AFG  Afghanistan  2020-01-04          0.0           0.0
...    ...          ...         ...          ...           ...
50413  ZWE     Zimbabwe  2020-10-15       8055.0         231.0
50414  ZWE     Zimbabwe  2020-10-16       8075.0         231.0
50415  ZWE     Zimbabwe  2020-10-17       8099.0         231.0
50416  ZWE     Zimbabwe  2020-10-18       8110.0         231.0
50417  ZWE     Zimbabwe  2020-10-19       8147.0         231.0

       Stringency_Index  Population  Gdp_Per_Capita  Human_Dev_Index
0                  0.00    38928341        1803.987            0.498
1                  0.00    38928341        1803.987            0.498
2                  0.00    38928341        1803.987            0.498
3                  0.00    38928341        1803.987            0.498
4                  0.00    38928341        1803.987            0.498
...                 ...         ...             ...              ...
50413             76.85    14862927        1899.775            0.535
50414             76.85    14862927        1899.775            0.535
50415             76.85    14862927        1899.775            0.535
50416             76.85    14862927        1899.775            0.535
50417             76.85    14862927        1899.775            0.535

[50418 rows x 9 columns]>

## Replacing Null Values

In [18]:
print('\n', df_cov.isna().sum())

 Code                    0
Country                 0
Date                    0
Total_Cases          3094
Total_Deaths        11190
Stringency_Index     7126
Population              0
Gdp_Per_Capita       5712
Human_Dev_Index      6202
dtype: int64

In [19]:
## Replace NaN with 0s
df_cov = df_cov.replace(to_replace = np.nan, value = 0)

In [20]:
## Check for null values
df_cov.isnull().values.any()

False

## Exporting Dataset

In [21]:
df_cov.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Covid Wrangled.csv'))